body {
  margin: 1em;
}

.center-img {
  display: block;
  margin: auto;
  width: 14em;
}

.center-form {
  display: block;
  margin: auto;
  max-width: 50vh;
}

.center-button {
  display: block;
  margin: auto;
}
