body {
  background: pink;
}

body {
  margin: 1em;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

ul li {
  color: blueviolet;
}

/* .invisible {
  color: black;
} */
