html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: 10vh;
}

.center-img {
  display: block;
  margin: auto;
  width: 14em;
}

.title {
  padding-top: 4vh;
}

.center-form {
  display: block;
  margin: auto;
  max-width: 50vh;
}

.center-button {
  display: block;
  margin: auto;
}
/*------------------footer-----------*/

footer {
  width: 100%;
  background-image: linear-gradient(to right, #b3cccc, #adebeb);
  padding: 40px 5px;
  color: black;
}

#bunnyright {
  float: left;
}

#website {
  float: right;
}
