html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: 10vh;
}

.center-img {
  display: block;
  margin: auto;
  width: 14em;
}

.center-form {
  display: block;
  margin: auto;
  max-width: 50vh;
}

.center-button {
  display: block;
  margin: auto;
}

footer {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #b3cccc, #adebeb);
  height: 55px;
  position: static;
}

#footer-text {
  margin-left: 1vh;
}

#plane {
  float: right;
  margin-right: 1.5vh;
  margin-top: -6vh;
}

#website {
  margin-top: -2.5vh;
  margin-left: 1.5vh;
}
